﻿<form asp-action="UploadImage" asp-controller="Profile" method="post" enctype="multipart/form-data">
    <input type="file" id="file1" name="file1" multiple="multiple" />
    <button class="btn btn-primary" type="submit">Upload File(s)</button>
</form>
<br />
<br />
<form asp-action="RetrieveImage" asp-controller="Profile" method="post">
    <button class="btn btn-primary" type="submit">Show Latest Image</button >
</form>
<h4>@ViewBag.Message</h4>
<h4>@ViewBag.ImageTitle</h4>
<img src="@ViewBag.ImageDataUrl" width="100" height="100"/>