﻿@using Microsoft.AspNetCore.Http;

@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.Get("CurrentUser");
    this.ViewData["CurrentRoles"] = this.Context.Session.GetString("CurrentRoles");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <div class="box">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">Forum</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcolor01" aria-controls="navbarcolor01" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarcolor01">
                        <ul class="navbar-nav me-auto">
                            @if (!(bool)this.ViewData["isAuthenticated"])
                            {
                                @*<li class="nav-item">
                <a asp-controller="About" asp-action="Index" class="nav-link">About</a>
            </li>*@
                            }
                            else
                            {
                                if (this.ViewData["CurrentRoles"].ToString() == "user")
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Posts" asp-action="Index" class="nav-link">Posts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="MyPosts" asp-action="Create" class="nav-link">New post</a>
                                    </li>
                                }
                                if (this.ViewData["CurrentRoles"].ToString() == "admin")
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="Index" class="nav-link">Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Posts" asp-action="Index" class="nav-link">Posts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="MyPosts" asp-action="Create" class="nav-link">New post</a>
                                    </li>
                                }
                            }
                        </ul>
                        <h4>
                            @if (!(bool)this.ViewData["isAuthenticated"])
                            {
                                <a asp-controller="Auth" asp-action="Register" class="btn btn-secondary">Sign Up</a>
                                <a asp-controller="Auth" asp-action="Login" class="btn btn-secondary">Sign In</a>
                            }
                            else
                            {
                                if (this.ViewData["CurrentRoles"].ToString() == "user")
                                {
                                    <a asp-controller="MyPosts" asp-action="Index" class="btn btn-secondary">My Posts</a>
                                }
                                <a asp-controller="Profile" asp-action="Index" class="btn btn-secondary">Settings</a>
                                <a asp-controller="Auth" asp-action="Logout" class="btn btn-secondary">Sign Out</a>
                            }
                        </h4>
                    </div>
                </div>
            </nav>
        </div>

        <div class="content bgi" style="margin-top: 10px; background-image: url('/img/DelverITGlobal.png');">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @*<footer>
            <div class="border-top footer bg-primary">
                    &copy; 2021 - Forum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    </div>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
