﻿@{
    ViewData["Title"] = "Users";
}
@model IEnumerable<UserPresentModel>

<table class="table table-hover">

    <tr>
        <th scope="col">UserName</th>
        <th scope="col">DisplayName</th>
        <th scope="col">Email</th>
        <th scope="col">Blocked</th>
        <th scope="col">Action</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr class="table-primary">
            <td scope="row">@user.UserName.</td>
            <td scope="row">@user.DisplayName</td>
            <td scope="row">@user.Email</td>
            <td scope="row">@user.isBlocked</td>
            @if (@user.isBlocked)
            {
                <td scope="row">
                    <a asp-action="UnblockUser" asp-route-email="@user.Email" class="badge rounded-pill bg-success"> Unblock </a>
                </td>
            }
            else
            {
                <td scope="row">
                    <a asp-action="BlockUser" asp-route-email="@user.Email" class="badge rounded-pill bg-danger"> Block </a>
                </td>
            }
        </tr>
    }
</table>