﻿
@{
    ViewData["Title"] = "Post";
}

@model Forum.Models.PostPresentModel
<div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
    <div class="card-header"><h4>@ViewData["Title"]</h4></div>
    <form asp-action="Index" asp-controller="Comments">
        <div class="card-body">
            <h4 class="card-title">@ViewData["Title"] : @Model.Title</h4>
            <label class="form-label mt-4">Created by: </label>
            <label class="form-label mt-4">@Model.CreatedBy</label>
            <br />
            <label class="form-label mt-4">Category: </label>
            <label class="form-label mt-4">@Model.CategoryName</label>
            <br />
            <label class="form-label mt-4">Content: </label>
            <label class="form-label mt-4">@Model.Content</label>
            <br />
            <a style="float: right; margin-bottom: 5px;" asp-route-postId="@Model.PostId" asp-controller="Comments" asp-action="Index" class="btn btn-danger">Add comment</a>
        </div>
    </form>
</div>

@foreach (var comment in Model.Comments)
{
    <div>

    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card border-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">@comment.CommentedBy</div>
                <div class="card-body">
                    <p class="card-text">@comment.Description</p>
                    <div style="float: right; position: relative; display: inline-flex;">
                        <div class="row">
                            <div class="col-lg-5">
                                <p style="margin:auto;">@comment.LikesCount</p>
                            </div>
                            <div class="col-lg-5">
                                <p><a asp-controller="Posts" asp-action="LikesForComment" asp-route-id="@comment.CommentId" asp-route-postId="@Model.PostId" class="badge rounded-pill bg-info"> Like </a></p>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
 }


