﻿
@{
}
@model IEnumerable<Forum.Models.PostPresentModel>

<table class="table table-hover">

  

    @foreach (var post in @Model)
    {
    <div align="center">
        <div class="card border-info mb-3" style="max-width: 50rem;">
            <div class="card-header">@post.CategoryName</div>
            <div class="card-body">
                <h4 class="card-title">@post.Title</h4>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <p class="card-text" align="left">@post.Content</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                        <p> <img src="~/img/imgbin-like-L0Gm29uWtN96Gdk5rxXEbap65_t.jpg" width="20" height="20" /> @post.LikesCount</p>
                    </div>
                    <div class="col-lg-1">
                        <a asp-action="LikesForPost" asp-route-id="@post.PostId" class="badge rounded-pill bg-info" align="left">like</a>
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="col-lg-1">
                        <p><img src="~/img/comment-icon.jpg" width="20" height="20" /> @post.CommentsCount</p>
                    </div>
                    <div class="col-lg-1">
                        <a asp-action="CommentsForPost" asp-route-id="@post.PostId" class="badge bg-warning" align="rignt"> comment </a>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
    }
</table>
}
