﻿@{
    ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    ViewData["Title"] = "Home Page";
}
@model Forum.Models.HomeInfoModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/undraw_Opinion_re_jix4.png" width="300" height="200" />
    <p>Here you can share your ideas with the world.</p>
    <br />
    @if (!(bool)this.ViewData["isAuthenticated"])
    {

        <p class="card-text"> Our community is growing. We already have @Model.UsersCount users. <a asp-controller="Auth" asp-action="Login">Come and join us.</a></p>
            <p>Check our discussions @Model.PostsCount posts have been posted so far. </p>
            <span class="badge bg-info">Top 3 commented posts</span>
        <div class="row">
            <div class="col-lg-4">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">@Model.Posts[0].CategoryName</div>
                    <div class="card-body">
                        <h4 class="card-title">@Model.Posts[0].Title</h4>
                        <p class="card-text"> @Model.Posts[0].Content</p>
                        <p>Likes: @Model.Posts[0].LikesCount</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">@Model.Posts[1].CategoryName</div>
                    <div class="card-body">
                        <h4 class="card-title">@Model.Posts[1].Title</h4>
                        <p class="card-text"> @Model.Posts[1].Content</p>
                        <p>Likes: @Model.Posts[1].LikesCount</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header">@Model.Posts[1].CategoryName</div>
                    <div class="card-body">
                        <h4 class="card-title">@Model.Posts[1].Title</h4>
                        <p class="card-text"> @Model.Posts[1].Content</p>
                        <p>Likes: @Model.Posts[1].LikesCount</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>