﻿@{ ViewData["Title"] = "Login";}
@model Forum.Models.UserLoginModel


<h1 align="center">Login</h1>
<div align="center">
    <form asp-action="Login">
        <div>
            <label asp-for="Email" class=" form-label"></label>
            <br />
            <input asp-for="Email" class="form-input" />
            <span asp-validation-for="Email" class="form-error"></span>
        </div>
        <br />
        <div>
            <label asp-for="Password" class=" form-label"></label>
            <br />
            <input asp-for="Password" class="form-input" type="password" id="myInput" />
            <br />
            <br />
            <input type="checkbox" onclick="myFunction()" />Show Password 
            <span asp-validation-for="Password" class="form-error"></span>
        </div>
        <br />
        <div>
            <input type="submit" value="Login" class="btn-primary" />
            <input type="submit" value="Register" asp-controller="Auth" asp-action="Register" class="btn-primary">

        </div>
    </form>
</div>
<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>