﻿@{ ViewData["Title"] = "Register"; }
@model Forum.Models.UserCreateModel

<h2 align="center">Register</h2>

<form align="center" asp-action="Register">
    <div>
        <label asp-for="Email" class="form-label"></label>
        <br />
        <input asp-for="Email" class="form-input" />
        <span asp-validation-for="Email" class="form-error"></span>
    </div>
    <br />
    <div>
        <label asp-for="UserName" class="form-label"></label>
        <br />
        <input asp-for="UserName" class="form-input" />
        <span asp-validation-for="UserName" class="form-error"></span>
    </div>
    <br />
    <div>
        <label asp-for="DisplayName" class="form-label"></label>
        <br />
        <input asp-for="DisplayName" class="form-input" />
        <span asp-validation-for="DisplayName" class="form-error"></span>
    </div>
    <br />
    <div>
        <label asp-for="Password" class="form-label"></label>
        <br />
        <input asp-for="Password" type="password" class="form-input" />
        <span asp-validation-for="Password" class="form-error"></span>
    </div>
    <br />
    <div>
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <br />
        <input asp-for="ConfirmPassword" type="password" class="form-input" />
        <span asp-validation-for="ConfirmPassword" class="form-error"></span>
    </div>
    <br />
    <div>
        <br />
        <input type="submit" value="Register" class="btn-primary" />
        <input type="submit" value="Login" class="btn-primary" />
    </div>
</form>