﻿
@{ViewData["Title"] = "Create post";
    ViewData["Action"] = "Create";
    ViewData["ButtonValue"] = "Create";
}
@model PostCreateViewModel
    <div align="center">
        <div class="card border-info mb-3" style="max-width: 50rem;">
            <div class="card-header"><h4>@ViewData["Title"]</h4></div>
            <div class="card-body">
                <form asp-action=@ViewData["Action"]>
                    <fieldset>
                        <legend>@ViewData["Title"]</legend>

                        <label class="form-label mt-4">Select category</label>
                        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select"></select>
                        <br />
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-input" />
                        <span asp-validation-for="Title" class="form-error"></span>
                        <div class="form-group" style="width=50px">
                            <label for="exampleTextarea" class="form-label mt-4">Enter you post</label>
                            <textarea asp-for="Content" class="form-control" rows="3" cols="5"></textarea>
                        </div>
                        <br>
                        <br>
                        <div>
                            <input type="submit" value="@ViewData["ButtonValue"]" class="btn btn-primary" />
                            <a asp-controller="Posts" asp-action="Index" class="btn btn-primary">Back</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>