﻿
@{
    ViewData["Title"] = "My Posts";
}

@model IEnumerable<PostPresentModel>

<p>@ViewData["Title"]</p>
<br />
<a asp-controller="MyPosts" asp-action="Create" class="btn btn-secondary">Add new post</a>
<table class="table table-hover">

    <tr>
        <th scope="col">CategoryName</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">CommentsCount</th>
        <th scope="col">LikesCount</th>
        <th scope="col">Action</th>

        @*<th scope="col">CreatedOn</th>*@
    </tr>

    @foreach (var post in Model)
    {
<tr class="table-primary">
    <td scope="row">@post.CategoryName</td>
    <td scope="row">@post.Title</td>
    <td scope="row">@post.Content</td>
    <td scope="row">@post.CommentsCount</td>
    <td scope="row">@post.LikesCount</td>
    
    <td scope="row"> <a asp-controller="MyPosts" asp-action="Edit" asp-route-id=@post.PostId class="btn btn-secondary">Edit post</a></td>
</tr>
    }
</table>