﻿@{
    ViewData["Title"] = "Index";
}
<div align="center">
    <div class="card border-info mb-3" style="max-width: 50rem;">
        <div class="card-header">Your comment</div>
        <div class="card-body">

            <p class="card-text">
                <form asp-controller="Comments" asp-action="CreateCommentForPost" method="post">
                    <div class="form-group" style="width=150px">
                        <label for="exampleTextarea" class="form-label mt-4">Enter you comment</label>
                        <textarea class="form-control" name="description" rows="3" cols="5"></textarea>
                        <input style="display:none" type="text" name="postId" value="@ViewBag.postId" />
                    </div>
                    <br>
                    <input type="submit" name="name" value="Submit comment" class="btn btn-danger" />
                </form>
            </p>
        </div>
    </div>
</div>

